.token {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    animation: fadein 1s;
}

.token-p {
    animation: fadein 2s;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    height: 100px;
    background: linear-gradient(176.18deg, #57068C 10.95%, #0A0337 131.71%);
    width: 100vw;
    color: #fbfcfc;
    font-size: 23px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);;
}

nav div {
    margin: 0 100px 0 100px;
}

.home-logo {
    display: flex;
    align-items: center;
}

.home-logo svg {
    margin-right: 15px;
}

.home-logo p {
    margin-block-end: -5px;
}

.input-container {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 100px 0 50px 0;
    align-items: center;
    position: relative;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background-color: white;
    background-image: url('/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: -2px -3px 31px 2px rgba(0,0,0,0.09);
}

.input-p {
    position: relative;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
    top: 70px;
    z-index: 1;
    font-size: 20px;
}

.input-box {
    display: flex;
    align-items: center;
}

svg {
    margin-left: 10px;
}

.input-field {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.input-field input {
    display: block;
    margin: auto;
    width: 250px;
    border: none;
    text-align: center;
}

.input-submit {
    width: 100px;
    padding: 10px 30px;
    background-color: #2FEDBE;
    text-align: center;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.input-submit:hover {
    cursor: pointer;
}

.input-submit:active {
    transform: scale(0.95);
}

.colors {
    margin: 100px 50px 0 20px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
